# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# ioBroker build artifacts
iobroker.*.tgz
adapter-dist/

# Python venv (optional for worker)
venv/
venv/
*.tgz

